<!doctype html>
<html lang="en" ng-app="LunchCheck" ng-controller="LunchCheckController">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message {
        font-size: 1.3em;
        font-weight: bold;
        border:{{objColor}} solid;
        color: {{objColor}};

      }
    </style>
  </head>
<body>
   <div class="container">
     <h1>Lunch Checker</h1>

         <div  class="form-group">
             <input ng-model="dishes" id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button ng-click="check()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           {{message}}
         </div>
   </div>

</body>
</html>
